@{
    ViewBag.Title = "公告";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}
<div class="container">
    <div class="container-fluid" style="padding-bottom:400px;">
        <h4>公告</h4>
        21天学通Java已启动“终极计划”，该计划将关闭21天学通Java的专业版的注册（已经注册的不受影响），删除专业版的部分内容，剩下的内容向标准版开放（目前已将实战内容开放至标准版）。<br />
        客户端版本更新将终止于2016年5月20日（邠心工作室三周年）的5.2.0特别版，在线服务将终止于2017年1月11日。<br />
        以上计划从即日起正式实施，给您造成的不便请谅解。<br />
        另外本站新上线“资料下载”功能（包括本项目的源码和其他项目的源码），只需要加入群<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=c0b797c0c7785eee78cd518965e8ce12360b70b030ccb8d37d4f57a4fbd204d8">222876252</a>然后向群主获取VIP资格即可。
    </div>
</div>